# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook configuration
jupyter_notebook_config.py
jupyter_notebook_config.json

# Jupyter Notebook temporary files
*.nbconvert.ipynb
*.nbconvert.html

# Jupyter Notebook metadata
*.ipynb-meta

# Hidden files in Jupyter Notebook
.*.ipynb

# Python virtual environments
.venv/
.pip/
__pypackages__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/doxyoutput/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# Environments
.env
.env.*

# Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Trash folder which might appear on any volume
.Trashes

# Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Exclude VSCode settings files
.vscode/
